.fact{
    width: 100%;
    position: relative;
    padding: 3% 20%;
    background-color: #7971ea;

}
.head{
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 800;

}

.fact-content{
    position: relative;
    width: 100%;
    margin: 5% 0;
}
.fact-content h4{
    color: white;
    font-weight: bold;
}
.fact-content blockquote{
    color: aquamarine;
}
.studentVoiceItem{
    padding: 5px 20px;
    margin-bottom: 5px;
}
.studentVoiceItem div{
    display: inline-flexbox;
}

.imageContent{
    margin-top: 3%;
    margin-left: 3%;
    text-align: center;
}
#imageContent1{
    float: left;
}
#imageContent2{
    float: right;
    margin-right: 2%;
}
.imageContent img{
    width: 100px;
}
.imageContent p{
    color: black;
    font-weight: 900;
}
.textContent{
    margin-top: 3%;
    position: relative;
    width: 85%;
    align: justify;
}
#textContent1{
    float: right;
}
#textContent2{
    float: left;
}
@media only screen and (max-width: 1200px)
{
    .textContent{
        width: 80%;
    }
    .imageContent{
        margin-top: 5%;
        margin-left: 2%
    }
}
@media only screen and (max-width: 900px)
{
    .studentVoiceItem div{
        display: block;
    }
    .studentVoiceItem{
        align: justify;
        padding: 0 3% 3% 3%;
        
    }
    .textContent{
        width: 100%;
        margin-top: 0%;
    }
    .textContent blockquote{
        margin: 0 1%;
    }
    .imageContent{
        float: none;
    }
    #imageContent1{
        float: none;
    }
    #imageContent2{
        float: none;
    }
}

