::-webkit-scrollbar {
  display: none;
}
.tick {
  max-width: 30px;
}
#top-logo {
  width: 110px;
}
#top-logo img {
  max-width: 100px;
}
#teacher-section {
  padding: 4em 0 0 0;
}

.fact {
  width: 100%;
  position: relative;
  padding: 3% 20%;
  background-color: #7971ea;
}
.head {
  width: 100%;
  text-align: center;
  color: white;
  font-weight: 800;
}

.fact-content {
  position: relative;
  width: 100%;
  margin: 5% 0;
}
.fact-content h4 {
  color: white;
  font-weight: bold;
}
.fact-content blockquote {
  color: aquam arine;
}

.more-info-list {
  list-style-type: none;
}

.apply-home {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.9);
  border-color: #fff;
  transition: 0.5s;
}

.apply-home:hover {
  color: #000;
  background-color: #fff;
  border-color: #000;
}

.apply-now {
  color: #000;
  background-color: #fff;
  border-color: #000;
  transition: 0.5s;
  border-radius: 30px;
}

.apply-now:hover {
  color: #fff;
  background-color: #000;
}

.studentVoiceItem {
  padding: 5px 20px;
  margin-bottom: 5px;
  height: 200px;
}
.studentVoiceItem div {
  display: inline-block;
}

.imageContent {
  margin-top: 1.5%;
  margin-left: 3%;
  text-align: center;
  margin-bottom: 10px;
}
#imageContent1 {
  float: left;
}

.imageContent img {
  width: 100px;
}
.imageContent p {
  color: black;
  font-weight: 900;
  margin-bottom: 0;
}
.imageContent span {
  color: black;
  font-size: 14px;
  font-weight: bold;
}
.textContent {
  margin-top: 3%;
  position: relative;
  width: 80%;
  text-align: left;
}
#textContent1 {
  float: right;
}

#Comparation {
  width: 100%;
  height: 500px;
  padding-left: 4%;
  padding-right: 5%;
  margin-right: 0;
  margin-left: 0;
}
.comparation-title {
  text-align: center;
  font-weight: 900;
  color: black;
  margin: 0 0 50px 0;
}
.comparation-item-container {
  margin-left: 7%;
  margin-right: 7%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
}
.School-table {
}

.School-table table tr {
  text-align: center;
}
.School-table table tr th {
  padding: 10px 15px;
  color: black;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.School-table table tr td {
  padding: 10px 15px;
  border-bottom: 1px solid black;
}

.accordion-section .panel-default > .panel-heading {
  border: 0;
  background: #f4f4f4;
  padding: 0;
}
.accordion-section .panel-default .panel-title a {
  display: block;
  font-style: italic;
  font-size: 1.5rem;
}
.accordion-section .panel-default .panel-title a:after {
  font-family: "FontAwesome";
  font-style: normal;
  font-size: 3rem;
  content: "\f106";
  color: #1f7de2;
  float: right;
  margin-top: -12px;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
  content: "\f107";
}
.accordion-section .panel-default .panel-body {
  font-size: 1.2rem;
}

.Attribute-table table tr {
  text-align: center;
  margin: 10px 15px;
}
.Attribute-table table tr th {
  padding: 10px 15px;
  color: black;
  font-size: 22px;
  font-weight: 700;
  border-bottom: 1px solid black;
}
.Attribute-table table tr td {
  padding: 10px 15px;

  border-bottom: 1px solid black;
}
.comparation-item h3 {
  position: relative;
  width: 100%;
  text-align: center;
  color: black;
  font-weight: 900;
}

.logo-contact-us {
  width: 80%;
  margin-left: 20%;
  display: flex;
  margin-bottom: 30px;
}
.contact-us {
  position: relative;
  margin-left: 38%;
  margin-bottom: 20px;
}
.contact-us-title {
  margin-left: 10px;
}
.contact-us-items {
  display: flex;
  margin: 0;
  height: 30px;
}
.contact-us-items img {
  max-width: 20px;
  margin-right: 10px;
}
.contact-us-items p {
}
.footer-logo {
  margin-left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  width: 210px;
  padding: 5px;
  border-radius: 5px;
}
.footer-logo img {
  max-width: 200px;
}
#moreinfo-container {
  display: flex;
  margin-bottom: 30px;
}
#bottom-footer {
  padding-bottom: 3em;
}
.moreinfo-items {
  margin: 5px 10px;
}
.bottom-button {
  margin-left: 10%;
}

/*=====================================media query============================================================================= */

@media only screen and (max-width: 1800px) {
  .comparation-item {
    height: 350px;
    padding-right: 30px;
  }
  .comparation-item-container {
    margin-left: 1%;
  }
}
@media only screen and (max-width: 1650px) {
  .logo-contact-us {
    margin-left: 17%;
  }
}
@media only screen and (max-width: 1600px) {
  .logo-contact-us {
  }
  .contact-us {
    margin-left: 43%;
  }
}
@media only screen and (max-width: 1550px) {
  .logo-contact-us {
    margin-left: 8%;
  }
  .contact-us {
    margin-left: 53%;
  }
}
@media only screen and (max-width: 1500px) {
  .footer-logo {
  }
  .contact-us {
  }
}
@media only screen and (max-width: 1200px) {
  .textContent {
    width: 75%;
  }
  .imageContent {
    margin-top: 3%;
    margin-left: 2%;
  }
  .comparation-title {
    margin: 0;
  }
  .comparation-item-container {
    display: flex;
    margin: 20px 0;
  }
  .comparation-item {
    margin: 10px 0;
    width: 100%;
    height: auto;
    padding: 10px 10px 5px 0;
  }
  #Comparation {
    height: auto;
  }
  #compare-kit {
    padding-left: 0;
  }
  .contact-us {
    margin-left: 48%;
  }
  .footer-logo {
    margin-left: 5%;
  }
}
@media only screen and (max-width: 1000px) {
  .studentVoiceItem {
    height: 220px;
  }
  .imageContent {
    margin-top: 3%;
  }
  @media only screen and (max-width: 950px) {
    .studentVoiceItem {
      height: 260px;
    }
  }

  @media only screen and (max-width: 900px) {
  }
  .Attribute-table {
    overflow-x: scroll;
  }

  .studentVoiceItem div {
    display: block;
  }
  .studentVoiceItem {
    padding: 0 3% 3% 3%;
    height: 400px;
  }
  .textContent {
    width: 100%;
    margin-top: 0%;
  }
  .textContent blockquote {
    margin: 0 1%;
  }
  .imageContent {
    float: none;
  }
  #imageContent1 {
    float: none;
  }
  #imageContent2 {
    float: none;
  }

  #top-logo {
    width: 80px;
  }
  #top-logo img {
    max-width: 70px;
  }
  .contact-us {
    margin-left: 38%;
  }
}
@media only screen and (max-width: 750px) {
  .studentVoiceItem {
    height: 460;
  }
  .contact-us {
    margin-left: 8%;
  }
  .contact-us-title {
    margin-left: 0;
  }
  .footer-logo {
    display: none;
  }
  .bottom-button {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 600px) {
  .studentVoiceItem {
    height: 500px;
  }
  .contact-us {
    margin-left: 1%;
  }
}
@media only screen and (max-width: 550px) {
  .studentVoiceItem {
    height: 470px;
  }
}
@media only screen and (max-width: 500px) {
  .studentVoiceItem {
    height: 500px;
  }
}
@media only screen and (max-width: 400px) {
  .studentVoiceItem {
    height: 600px;
  }
}
@media only screen and (max-width: 300px) {
  .studentVoiceItem {
    height: 700px;
  }
}
@media only screen and (max-width: 200px) {
}
